.header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 20px;
    position: relative;
    overflow: hidden;
}
.headerBackground{
    position: absolute;
    top:-40%;
    left:-40%;
    right: -40%;
    bottom: -40%;
    background-color: rgb(66, 67, 102);
    background: url(../../assets/images/background.jpg);
    background-position: center;
    z-index: -1;
}
