.navigation ul{
    display: block;
    list-style-type: none;
    margin:10px 0;
    text-align: left;
}
.navigation .menuItem{
    display: inline-block;
    font-weight: 700;
}
.navigation .menuItem a{
    color:#3f3f3f;
    text-decoration: none;
}
.navigation .menuItem a:hover{
    text-decoration: underline;
}
.navigation .menuItem:not(:first-of-type){
    margin-left:15px;
}
.menuContainer{
    border:1px solid #000;
    margin:10px auto;
}